{% extends "ProyectoPrograApp/base.html" %}

{% load static %}

{% block title %} <title>Cargar fotos</title> {% endblock %}

{% block content %}
<h2 class="text-center">Comencemos</h2>
<form action="" class="upload-form text-center border border-dark rounded" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <legend class="text-justify">Seleccioná aquí las fotos que querés cargar, y presioná en Continuar para etiquetarlas.
    </legend>
    <div class="form-group">
        <!-- onchange="checkFileDetails()"  -->
        <input type="file" multiple required class="form-control-file bg-light" id="file" name="fotos">
    </div>
    <button type="submit" class="btn btn-primary">Continuar</button>
    <button type="reset" class="btn btn-secondary">Limpiar</button>
</form>
<script>
    function checkFileDetails() {
        var fi = document.getElementById('file');
        if (fi.files.length > 0) {      // FIRST CHECK IF ANY FILE IS SELECTED.

            for (var i = 0; i <= fi.files.length - 1; i++) {
                var fileName, fileExtension, fileSize, fileType, dateModified;

                // FILE NAME AND EXTENSION.
                fileName = fi.files.item(i).name;
                fileExtension = fileName.replace(/^.*\./, '');

                // CHECK IF ITS AN IMAGE FILE.
                // TO GET THE IMAGE WIDTH AND HEIGHT, WE'LL USE fileReader().
                if (fileExtension == 'png' || fileExtension == 'jpg' || fileExtension == 'jpeg') {
                    readImageFile(fi.files.item(i));             // GET IMAGE INFO USING fileReader().
                }
                else {
                    // IF THE FILE IS NOT AN IMAGE.

                    fileSize = fi.files.item(i).size;  // FILE SIZE.
                    fileType = fi.files.item(i).type;  // FILE TYPE.
                    dateModified = fi.files.item(i).lastModifiedDate;  // FILE LAST MODIFIED.

                    document.getElementById('fileInfo').innerHTML =
                        document.getElementById('fileInfo').innerHTML + '<br /> ' +
                        'url: <input type="hidden" value="' + fileName + '"name="url"> <br />' +
                        'File Extension: <input type="hidden" value="' + fileExtension + '"name="tipo"> <br />' +
                        'Size: <input type="hidden" value="' + Math.round((fileSize / 1024)) + '"name="tamaño"><br />' +
                        'usuario: <input type="hidden" value="{{request.user.id}} " name="Usuario"> <br />'
                        ;
                }
            }
        }

        // GET THE IMAGE WIDTH AND HEIGHT USING fileReader() API.
        function readImageFile(file) {
            var reader = new FileReader(); // CREATE AN NEW INSTANCE.

            reader.onload = function (e) {
                var img = new Image();
                img.src = e.target.result;

                img.onload = function () {
                    var w = this.width;
                    var h = this.height;

                    document.getElementById('fileInfo').innerHTML =
                        document.getElementById('fileInfo').innerHTML + '<br /> ' +
                        '<input style="visibility: hidden;" type="hidden" value="' + file.name + '" name="txtUrl"</b> <br />' +
                        '<input style="visibility: hidden;" type="hidden" value="' + fileExtension + '"name="tipo"> <br />' +
                        '<input style="visibility: hidden;" type="hidden" value="' + Math.round((file.size / 1024)) + '"name="tipo"><br />' +
                        '<input style="visibility: hidden;" type="hidden" value="' + w + '"name="resolucion"> <br/>' +
                        '<input style="visibility: hidden;" type="hidden" value="{{request.user.id}} " name="Usuario"> <br />'
                        ;
                }
            };
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}