{% extends "ProyectoPrograApp/base.html" %}

{% load static %}

{% block title %} <title>Cargar fotos</title> {% endblock %}

{% block content %}
<h2 class="text-center">Comencemos</h2>
<form class="upload-form text-center border border-dark rounded">
    <legend class="text-justify">Seleccioná aquí las fotos que querés cargar, y presioná en Continuar para etiquetarlas.
    </legend>
    <div class="form-group">
        <input type="file" multiple class="form-control-file bg-light" id="exampleFormControlFile1">
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload-modal">Continuar</button>
    <button type="reset" class="btn btn-secondary">Limpiar</button>
    <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Escogé nombre y etiquetas para tus fotos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <img src="{% static 'ProyectoPrograApp/img/carrusel-1.jpeg' %}"
                            class="card-img-top img-thumbnail galery-img">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" required class="form-control" placeholder="Card title"
                                    aria-label="Card title" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">#</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Tag" aria-label="Tag"
                                    aria-describedby="basic-addon1">
                            </div>
                            <label class="form-check-label">Privacidad: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" required name="inlineRadioOptions"
                                    id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Pública</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Privada</label>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'ProyectoPrograApp/img/carrusel-2.jpg' %}"
                            class="card-img-top img-thumbnail galery-img">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" required class="form-control" placeholder="Card title"
                                    aria-label="Card title" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">#</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Tag" aria-label="Tag"
                                    aria-describedby="basic-addon1">
                            </div>
                            <label class="form-check-label">Privacidad: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" required name="inlineRadioOptions"
                                    id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Pública</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Privada</label>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'ProyectoPrograApp/img/carrusel-3.jpg' %}"
                            class="card-img-top img-thumbnail galery-img">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" required class="form-control" placeholder="Card title"
                                    aria-label="Card title" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">#</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Tag" aria-label="Tag"
                                    aria-describedby="basic-addon1">
                            </div>
                            <label class="form-check-label">Privacidad: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" required name="inlineRadioOptions"
                                    id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Pública</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="option2">
                                <label class="form-check-label" for="inlineRadio2">Privada</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}