{% extends "ProyectoPrograApp/base.html" %}

{% load static %}

{% block title %} <title>Cargar fotos</title> {% endblock %}

{% block content %}
<h2 class="text-center">Escogé nombre y etiquetas para tus fotos</h2>
<h1>{{fotos}}</h1>
<div class="container border border-dark rounded">
    {% for foto in fotos %}
    <div class="card">
        <img src="{{foto}}" class="card-img-top img-thumbnail galery-img">
        <div class="card-body">
            <div class="input-group mb-3">
                <input type="text" required class="form-control" placeholder="Nombre" name="txtNombre"
                    aria-label="Card title" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Etiquetas</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="etiquetas">
                        {% for etiquetas in etiqueta  %}
                        <option>{{etiquetas.nombreEtiqueta}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <label class="form-check-label">Privacidad: </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" required name="privacidad" id="inlineRadio1" value="0">
                <label class="form-check-label" for="inlineRadio1">Pública</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="privacidad" id="inlineRadio2" value="1">
                <label class="form-check-label" for="inlineRadio2">Privada</label>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container">
    <input type="submit" value="Guardar" class="btn btn-primary">
    <button type="button" class="btn btn-secondary">Cancelar</button>
</div>
<script>
    function checkFileDetails() {
        var fi = document.getElementById('file');
        if (fi.files.length > 0) {      // FIRST CHECK IF ANY FILE IS SELECTED.

            for (var i = 0; i <= fi.files.length - 1; i++) {
                var fileName, fileExtension, fileSize, fileType, dateModified;

                // FILE NAME AND EXTENSION.
                fileName = fi.files.item(i).name;
                fileExtension = fileName.replace(/^.*\./, '');

                // CHECK IF ITS AN IMAGE FILE.
                // TO GET THE IMAGE WIDTH AND HEIGHT, WE'LL USE fileReader().
                if (fileExtension == 'png' || fileExtension == 'jpg' || fileExtension == 'jpeg') {
                    readImageFile(fi.files.item(i));             // GET IMAGE INFO USING fileReader().
                }
                else {
                    // IF THE FILE IS NOT AN IMAGE.

                    fileSize = fi.files.item(i).size;  // FILE SIZE.
                    fileType = fi.files.item(i).type;  // FILE TYPE.
                    dateModified = fi.files.item(i).lastModifiedDate;  // FILE LAST MODIFIED.

                    document.getElementById('fileInfo').innerHTML =
                        document.getElementById('fileInfo').innerHTML + '<br /> ' +
                        'url: <input type="hidden" value="' + fileName + '"name="url"> <br />' +
                        'File Extension: <input type="hidden" value="' + fileExtension + '"name="tipo"> <br />' +
                        'Size: <input type="hidden" value="' + Math.round((fileSize / 1024)) + '"name="tamaño"><br />' +
                        'usuario: <input type="hidden" value="{{request.user.id}} " name="Usuario"> <br />'
                        ;
                }
            }
        }

        // GET THE IMAGE WIDTH AND HEIGHT USING fileReader() API.
        function readImageFile(file) {
            var reader = new FileReader(); // CREATE AN NEW INSTANCE.

            reader.onload = function (e) {
                var img = new Image();
                img.src = e.target.result;

                img.onload = function () {
                    var w = this.width;
                    var h = this.height;

                    document.getElementById('fileInfo').innerHTML =
                        document.getElementById('fileInfo').innerHTML + '<br /> ' +
                        '<input style="visibility: hidden;" type="hidden" value="' + file.name + '" name="txtUrl"</b> <br />' +
                        '<input style="visibility: hidden;" type="hidden" value="' + fileExtension + '"name="tipo"> <br />' +
                        '<input style="visibility: hidden;" type="hidden" value="' + Math.round((file.size / 1024)) + '"name="tipo"><br />' +
                        '<input style="visibility: hidden;" type="hidden" value="' + w + '"name="resolucion"> <br/>' +
                        '<input style="visibility: hidden;" type="hidden" value="{{request.user.id}} " name="Usuario"> <br />'
                        ;
                }
            };
            reader.readAsDataURL(file);
        }
    }
</script>
{% endblock %}