{% extends "ProyectoPrograApp/base.html" %}

{% load static %}

{% block title %} <title>Cargar fotos</title> {% endblock %}

{% block content %}
<h2 class="text-center">Comencemos</h2>
<form action="" class="upload-form text-center" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    <legend class="text-justify">Seleccioná aquí las fotos que querés cargar, y presioná en Continuar para etiquetarlas.
    </legend>
    <div class="form-group">
        <input type="file" multiple onchange= "checkFileDetails()"  class="form-control-file bg-light" id="file" required>
        <p id="fileInfo"></p> 
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload-modal">Continuar</button>
    <button type="reset" class="btn btn-secondary">Limpiar</button>
    <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Escogé nombre y etiquetas para tus fotos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                    <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <input type="text" required class="form-control" placeholder="Nombre" name="txtNombre"
                                    aria-label="Card title" aria-describedby="basic-addon1">
                            </div>
                            
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Etiquetas</label>
                                    <select class="form-control" id="exampleFormControlSelect1" name="etiquetas">
                                        {% for etiquetas in etiqueta  %}
                                        <option  >{{etiquetas.nombreEtiqueta}}</option>
                                        {% endfor %}
                                    
                                    </select>
                                  </div>
                                <!--<input type="text" class="form-control" placeholder="Tag" aria-label="Tag" name="txtEtiqueta"
                                    aria-describedby="basic-addon1">-->
                            </div>
                            <label class="form-check-label">Privacidad: </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" required name="privacidad"
                                    id="inlineRadio1" value="0">
                                <label class="form-check-label" for="inlineRadio1">Pública</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="privacidad" id="inlineRadio2"
                                    value="1">
                                <label class="form-check-label" for="inlineRadio2">Privada</label>
                            </div>
                        </div>
                    </div>
    
                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function checkFileDetails() {
        var fi = document.getElementById('file');
        if (fi.files.length > 0) {      // FIRST CHECK IF ANY FILE IS SELECTED.
           
            for (var i = 0; i <= fi.files.length - 1; i++) {
                var fileName, fileExtension, fileSize, fileType, dateModified;

                // FILE NAME AND EXTENSION.
                fileName = fi.files.item(i).name;
                fileExtension = fileName.replace(/^.*\./, '');

                // CHECK IF ITS AN IMAGE FILE.
                // TO GET THE IMAGE WIDTH AND HEIGHT, WE'LL USE fileReader().
                if (fileExtension == 'png' || fileExtension == 'jpg' || fileExtension == 'jpeg') {
                   readImageFile(fi.files.item(i));             // GET IMAGE INFO USING fileReader().
                }
                else {
                    // IF THE FILE IS NOT AN IMAGE.
                        
                    fileSize = fi.files.item(i).size;  // FILE SIZE.
                    fileType = fi.files.item(i).type;  // FILE TYPE.
                    dateModified = fi.files.item(i).lastModifiedDate;  // FILE LAST MODIFIED.
                    
                    document.getElementById('fileInfo').innerHTML =
                        document.getElementById('fileInfo').innerHTML + '<br /> ' +
                            'url: <input type="hidden" value="' + fileName + '"name="url"> <br />' +
                            'File Extension: <input type="hidden" value="' + fileExtension + '"name="tipo"> <br />' +
                            'Size: <input type="hidden" value="' + Math.round((fileSize / 1024)) + '"name="tamaño"><br />' +
                            'usuario: <input type="hidden" value="{{request.user.id}} " name="usuario"> <br />'
                            ;
                }           
                }
            }

            // GET THE IMAGE WIDTH AND HEIGHT USING fileReader() API.
            function readImageFile(file) {
                var reader = new FileReader(); // CREATE AN NEW INSTANCE.

                reader.onload = function (e) {
                    var img = new Image();      
                    img.src = e.target.result;

                    img.onload = function () {
                        var w = this.width;
                        var h = this.height;

                        document.getElementById('fileInfo').innerHTML =
                            document.getElementById('fileInfo').innerHTML + '<br /> ' +
                                '<input style="visibility: hidden;" type="hidden" value="'+ file.name  +'" name="txtUrl"</b> <br />' +
                                '<input style="visibility: hidden;" type="hidden" value="' + fileExtension + '"name="tipo"> <br />' +
                                '<input style="visibility: hidden;" type="hidden" value="' + Math.round((file.size / 1024)) + '"name="tipo"><br />' +
                                '<input style="visibility: hidden;" type="hidden" value="' + w + '"name="resolucion"> <br/>' +
                                '<input style="visibility: hidden;" type="hidden" value="{{request.user.id}} " name="Usuario"> <br />'


                                ;
                    }
                };
                reader.readAsDataURL(file);
            }
        }
        
</script>
{% endblock %}