{% extends "ProyectoPrograApp/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} <title>Crea tu etiqueta</title> {% endblock %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
<div style="display: block; margin: 80px;" class="card " style="width: 18rem;">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
        <h1 style="color:salmon;text-align: center;">Nombrala como querrás!</h1>
        {{form|crispy}}
      <input type="submit" class="btn btn-primary" value="Guardar">
      <a class="btn btn-secondary""  href="javascript:history.back()">Volver</a>
    </div>
  </div>
</form>


{% endblock %}
